$white: #fff;
$white-2: #F9F9F9;

$grey-100:#CCCCCC;
$grey-110:#B8B8B8;

$green-10:#E9F1EA;
$green-50:#93B997;
$green-100:#287330;

$blue-30:#EFF7F7;
$blue-100:#CAE6E3;

$brown-25: #ECEAE7;
$brown-50: #B3AAA0;
$brown-100: #675642;
$brown-150: #332B21;

$orange:#FC783F;

$yellow:#FFC336;

$rose:#F99AA1;

$red:#FD391F;

$font-primary: "DM Serif Text", sans-serif;
$font-secondary: "DM Sans", sans-serif;


  