.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding-top: 100px;
}

.autoContainer {
  max-width: 1576px;
  margin: 0 auto;
  padding: 0 60px;
}

.input {
  display: flex;
  width: 100%;
  font-size: 16px;

  input,
  textarea,
  &__selected {
    padding: 0.78em 1em;
    width: 100%;
    background-color: $white;
    border: 1px solid $grey-100;
    resize: none;
    border-radius: 6px;
    @include transition;

    //font
    color: $brown-150;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 1;

    &::placeholder {
      color: $grey-100;
    }
  }

  input:focus,
  textarea:focus {
    border-color: $green-100;
  }

  &--select {
    position: relative;
    min-width: 130px;

    .input {
      &__selected {
        cursor: pointer;
        transition-delay: 0.25s;
        width: 100%;
        padding-right: 2.5em;

        &:hover {
          opacity: 0.8;
          border-color: $green-100;
        }

        &-outer {
          position: relative;
          width: 100%;
        }

        &-arrow {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          color: $brown-150;
          @include transition;
        }
      }

      &__dropdown {
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        background-color: $white;
        border: 1px solid $grey-100;
        color: $brown-150;
        box-sizing: border-box;
        padding: 8px 5px;
        border-radius: 6px;
        @include transition;
        @include hideScroll;
        z-index: 1;

        &-item {
          cursor: pointer;
          padding: 0.4em 0.5em;
          @include transition;

          &:hover {
            background: $white;
            color: $green-100;
          }
        }
      }
    }

    &.active .input {
      &__selected {
        color: $brown-150;
        border-color: $green-100;
        transition-duration: 0.1s;
        transition-delay: 0s;

        &-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      &__dropdown {
        max-height: 30vh;
        overflow-y: auto;
        opacity: 1;
      }
    }
  }

  &--radio {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-size: 16px;
    border: 1px solid $grey-100;
    border-radius: 6px;
    padding: 0.7em 0.75em;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:checked + .input__circle {
        border-color: $brown-100;
        &::after {
          opacity: 1;
        }
      }
    }

    .input {
      &__circle {
        width: 1.5em;
        height: 1.5em;
        border: 1px solid $grey-100;
        border-radius: 50%;
        position: relative;
        @include transition;

        &:after {
          content: '';
          width: 62%;
          height: 62%;
          border-radius: 50%;
          background: $green-100;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          @include transition;
        }
      }

      &__text {
        color: $brown-100;
      }
    }
  }

  &__outer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      color: $brown-100;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      color: $brown-100;
      font-style: italic;
    }

    &-row {
      display: flex;
      gap: 16px;
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1.4em;
  border: 1px solid transparent;
  border-radius: 6px;

  color: $brown-150;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  @include transition;

  &--primary {
    font-family: $font-secondary;
    background: $brown-150;
    border-color: $brown-150;
    color: $white;
    gap: 15px;

    .icon {
      font-size: inherit;
    }

    &._lg {
      font-size: 18px;
      padding: 0.77em 1.4em;
    }

    &:hover {
      background: rgba($brown-150, 0.25);
      color: $brown-150;
    }
  }

  &--border {
    font-family: $font-secondary;
    font-weight: 400;
    padding: 0.65em 1em;
    border-color: $green-100;
    color: $green-100;
    gap: 8px;

    &:hover {
      background: rgba($green-100, 0.1);
    }
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }

  .icon {
    transition: unset;
  }
}

.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}

.badge {
  border-radius: 100px;
  padding: 0.3em 0.5em;

  color: $brown-150;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

.checkbox {
  display: inline-flex;
  position: relative;
  font-size: 20px;
  z-index: 0;
  cursor: pointer;

  input {
    width: 1em;
    height: 1em;
    z-index: 1;
    font-size: inherit;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::before {
        opacity: 1;
      }

      &::after {
        border-color: $green-100;
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $grey-100;
      box-sizing: border-box;
      border-radius: 4px;
      @include transition;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 40%;
      left: 50%;
      width: 0.25em;
      height: 0.5em;
      border-bottom: 1.5px solid $green-100;
      border-right: 1.5px solid $green-100;
      transform: translate(-50%, -50%) rotate(45deg);
      opacity: 0;
      @include transition;
    }
  }

  &__outer {
    display: flex;
    align-items: center;

    label {
      color: $brown-150;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      padding-left: 0.75em;
      cursor: pointer;

      a {
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: inherit;
        text-decoration: underline;
        transition: 0.3s ease;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;

  &--left {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
  &--rtArr {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--right {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
  &--up {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-bottom: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--down {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-top: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--cross {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background: $brown-150;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--tick {
    margin-right: 5px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      height: 80%;
      border-bottom: 2px solid $brown-150;
      border-right: 2px solid $brown-150;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--dots {
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $brown-150;
    transition: 0.2s ease-in;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: inherit;
      transition: 0.2s ease-in;
    }
    &:before {
      left: calc(100% + 0.75em);
    }
    &:after {
      right: calc(100% + 0.75em);
    }
    &.active {
      width: 4.5em;
      border-radius: 2px;
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  &--rounded {
    font-size: inherit;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $green-100;

    &:after {
      top: 45%;
      width: 25%;
      height: 50%;
      border-color: $brown-150;
    }
  }
}

.noBreak {
  white-space: nowrap;
}

.stepper {
  display: flex;
  align-items: flex-start;
  position: relative;
  &__progress {
    width: 96px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 88px;
    &-bg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $white;
      width: 100%;
      height: 2px;
      z-index: -1;
    }
    &-line {
      position: absolute;
      top: 50%;
      width: 0;
      height: 2px;
      background: $green-100;
      transition: 0.3s ease;
      transform: translateY(-50%);
    }
  }
  &__item {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 150px;
    position: relative;
    &-progress {
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      @include transition;

      &:before,
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 50%;
        height: 2px;
        transform: translateY(-50%);
        background: $white;
        z-index: -1;
      }
      &:before {
        right: 50%;
      }
      &:after {
        left: 50%;
      }
    }

    &:hover {
      .stepper {
        &-icon {
          // color: $orange;
          // border-color: $orange;
        }
      }
    }
    &.done {
      .stepper {
        &-icon {
          color: $white;
          background: $green-100;
          border-color: transparent;
        }
      }
      .stepper__item-progress {
        &:after {
          background: $green-100;
        }
      }
      & + .stepper__item > .stepper__item-progress {
        &::before {
          background: $green-100;
        }
      }
    }
    &.active {
      .stepper {
        &-title {
          color: $green-100;
        }
        &-icon {
          color: $green-100;
          background: $white;
          border-color: $green-100;
        }
      }
    }
    &:first-child .stepper__item-progress {
      &::before {
        display: none;
      }
    }
    &:last-child .stepper__item-progress {
      &::after {
        display: none;
      }
    }
  }
  &-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: $white;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 4px $white;
    @include transition;

    // color
    color: $green-100;
    font-size: 0.9em;
    color: $brown-150;
    font-weight: 400;
  }
  &-title {
    color: rgba($green-100, 0.75);
    font-size: inherit;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    @include transition;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 1em;
  height: 1em;
  @include transition;

  svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &--stroke {
    svg {
      fill: transparent;
      stroke: currentColor;
    }
  }
}

.toggle {
  position: relative;
  z-index: 0;
  &__switch {
    position: relative;
    display: inline-block;
    width: 4.16em;
    height: 2.22em;
    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 2em;
      // background: $blue-3;
      &::after {
        content: '';
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid $brown-150;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: inherit;
        z-index: 1;
        opacity: 0.04;
      }
      &::before {
        position: absolute;
        content: '';
        height: 1.55em;
        width: 1.55em;
        left: 0.333em;
        bottom: 0.333em;
        background-color: $green-100;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  }
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    &:checked {
      & + .toggle__switch {
        .toggle__switch-slider {
          &::after {
            border: 2px solid $green-100;
          }
        }
        .toggle__switch-slider:before {
          transform: translateX(1.944em);
        }
      }
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &._sm {
    gap: 8px;
  }
}

.tickText {
  font-size: 14px;
  color: $brown-100;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  .icon {
    color: $green-100;
    width: 1.15em;
    height: 1.15em;
  }

  &__info {
    margin-top: 1px;
  }
}
