.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding-top: 100px;
}

.autoContainer {
  max-width: 1576px;
  margin: 0 auto;
  padding: 0 60px;
}

.input {
  display: flex;
  width: 100%;
  font-size: 16px;

  input,
  textarea,
  &__selected {
    padding: 0.78em 1em;
    width: 100%;
    background-color: $white;
    border: 1px solid $grey-100;
    resize: none;
    border-radius: 6px;
    @include transition;

    //font
    color: $brown-150;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 1;

    &::placeholder {
      color: $grey-100;
    }
  }

  input:focus,
  textarea:focus {
    border-color: $green-100;
  }

  &--select {
    position: relative;
    min-width: 130px;

    .input {
      &__selected {
        cursor: pointer;
        transition-delay: 0.25s;
        width: 100%;
        padding-right: 2.5em;

        &:hover {
          opacity: 0.8;
          border-color: $green-100;
        }

        &-outer {
          position: relative;
          width: 100%;
        }

        &-arrow {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          color: $brown-150;
          @include transition;
        }
      }

      &__dropdown {
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        background-color: $white;
        border: 1px solid $grey-100;
        color: $brown-150;
        box-sizing: border-box;
        padding: 8px 5px;
        border-radius: 6px;
        z-index: 1;
        pointer-events: none;
        @include transition;
        @include hideScroll;

        &-item {
          cursor: pointer;
          padding: 0.4em 0.5em;
          @include transition;

          &:hover {
            background: $white;
            color: $green-100;
          }
        }
      }
    }

    &.active .input {
      &__selected {
        color: $brown-150;
        border-color: $green-100;
        transition-duration: 0.1s;
        transition-delay: 0s;

        &-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      &__dropdown {
        max-height: 30vh;
        overflow-y: auto;
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  &--radio {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-size: 16px;
    border: 1px solid $grey-100;
    border-radius: 6px;
    padding: 0.7em 0.75em;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:checked + .input__circle {
        border-color: $brown-100;
        &::after {
          opacity: 1;
        }
      }
    }

    .input {
      &__circle {
        width: 1.5em;
        height: 1.5em;
        border: 1px solid $grey-100;
        border-radius: 50%;
        position: relative;
        @include transition;

        &:after {
          content: '';
          width: 62%;
          height: 62%;
          border-radius: 50%;
          background: $green-100;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          @include transition;
        }
      }

      &__text {
        color: $brown-100;
      }
    }
  }

  &--search {
    position: relative;

    input {
      padding: 0.63em 1em 0.63em 2.5em;
    }

    .icon {
      font-size: 1.25em;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: $brown-100;
    }
  }

  &__outer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      color: $brown-100;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      color: $brown-100;
      font-style: italic;
    }

    &-row {
      display: flex;
      gap: 16px;
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1.4em;
  border: 1px solid transparent;
  border-radius: 6px;

  color: $brown-150;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  @include transition;

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }

  &--primary {
    font-family: $font-secondary;
    background: $brown-150;
    border-color: $brown-150;
    color: $white;
    gap: 15px;

    .icon {
      font-size: inherit;
    }

    &._lg {
      font-size: 18px;
      padding: 0.77em 1.4em;
    }

    &-icon {
      padding: 0.7em 0.94em;
    }

    &:hover {
      background: rgba($brown-150, 0.1);
      color: $brown-150;
    }
  }

  &--secondary {
    font-size: 18px;
    padding: 0.78em 0.8em;
    font-family: $font-secondary;
    background: $green-100;
    border-color: $green-100;
    color: $white;
    gap: 15px;

    &:hover {
      background: rgba($green-100, 0.05);
      color: $green-100;
    }
  }

  &--border {
    font-family: $font-secondary;
    font-weight: 400;
    padding: 0.65em 1em;
    border-color: $green-100;
    color: $green-100;
    gap: 8px;

    &:hover {
      background: rgba($green-100, 0.05);
    }
  }

  &--text {
    position: relative;
    font-family: $font-secondary;
    font-weight: 700;
    padding: 0 0 10px 0;
    gap: 8px;
    color: $green-100;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $green-100;
      @include transition;
    }

    &:hover {
      opacity: 0.7;

      &::after {
        width: 90%;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &--arrow {
    font-size: 24px;
    padding: 0;
    width: 2.6em;
    height: 2.6em;
    color: $green-100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: $white;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &-right {
      right: -16px;
    }

    &-left {
      left: -16px;
    }

    .icon {
      font-size: inherit;
    }

    &.swiper-button-disabled {
      opacity: 0 !important;
    }

    &:hover {
      border-color: $green-100;
    }
  }

  &--rounded {
    border-radius: 50%;
  }

  &--icon {
    padding: unset;
    font-size: 24px;

    .icon {
      font-size: inherit;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &--filter {
    gap: 12px;
    font-size: 16px;
    padding: 0.7em 0.8em;
    justify-content: space-between;

    .circle {
      font-size: 12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $green-10;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $brown-150;
      transition: inherit;
    }

    &:hover {
      .circle {
        background: rgba($green-100, 0.2);
      }
    }
  }

  .icon {
    transition: unset;
  }
}

.ratioImage {
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--contain {
    img {
      object-fit: contain;
    }
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.32em 0.5em;
  color: $brown-150;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  background: $green-100;
  color: $white;
  min-height: 24px;

  &--lg {
    font-size: 16px;
  }

  &--sm {
    font-size: 12px;
    font-weight: 400;
  }

  &--grey {
    color: $brown-100;
    background: $brown-25;
  }

  &--light {
    background: $green-10;
    color: $green-100;
  }

  &--white {
    background: $white;
    color: $brown-100;
  }

  &--red {
    background: $red;
  }

  &--opacity {
    background-color: $green-50;
  }
}

.checkbox {
  display: inline-flex;
  position: relative;
  font-size: 20px;
  z-index: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  input {
    width: 1em;
    height: 1em;
    z-index: 1;
    font-size: inherit;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      &::before {
        opacity: 1;
      }

      &::after {
        border-color: $green-100;
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $grey-100;
      box-sizing: border-box;
      border-radius: 4px;
      @include transition;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 40%;
      left: 50%;
      width: 0.25em;
      height: 0.5em;
      border-bottom: 1.5px solid $green-100;
      border-right: 1.5px solid $green-100;
      transform: translate(-50%, -50%) rotate(45deg);
      opacity: 0;
      @include transition;
    }
  }

  &__outer {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    @include transition;

    &:hover {
      opacity: 0.6;
    }

    label {
      color: $brown-150;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      padding-left: 0.75em;
      cursor: pointer;

      a {
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: inherit;
        text-decoration: underline;
        transition: 0.3s ease;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;

  &--left {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
  &--rtArr {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--right {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
  &--up {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-bottom: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--down {
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-top: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--cross {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background: $brown-150;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--tick {
    margin-right: 5px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      height: 80%;
      border-bottom: 2px solid $brown-150;
      border-right: 2px solid $brown-150;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--dots {
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $brown-150;
    transition: 0.2s ease-in;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: inherit;
      transition: 0.2s ease-in;
    }
    &:before {
      left: calc(100% + 0.75em);
    }
    &:after {
      right: calc(100% + 0.75em);
    }
    &.active {
      width: 4.5em;
      border-radius: 2px;
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  &--rounded {
    font-size: inherit;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $green-100;

    &:after {
      top: 45%;
      width: 25%;
      height: 50%;
      border-color: $brown-150;
    }
  }
}

.noBreak {
  white-space: nowrap;
}

.stepper {
  display: flex;
  align-items: flex-start;
  position: relative;
  &__progress {
    width: 96px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 88px;
    &-bg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $white;
      width: 100%;
      height: 2px;
      z-index: -1;
    }
    &-line {
      position: absolute;
      top: 50%;
      width: 0;
      height: 2px;
      background: $green-100;
      transition: 0.3s ease;
      transform: translateY(-50%);
    }
  }
  &__item {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 150px;
    position: relative;
    &-progress {
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      @include transition;

      &:before,
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 50%;
        height: 2px;
        transform: translateY(-50%);
        background: $white;
        z-index: -1;
      }
      &:before {
        right: 50%;
      }
      &:after {
        left: 50%;
      }
    }

    &:hover {
      .stepper {
        &-icon {
          // color: $orange;
          // border-color: $orange;
        }
      }
    }
    &.done {
      .stepper {
        &-icon {
          color: $white;
          background: $green-100;
          border-color: transparent;
        }
      }
      .stepper__item-progress {
        &:after {
          background: $green-100;
        }
      }
      & + .stepper__item > .stepper__item-progress {
        &::before {
          background: $green-100;
        }
      }
    }
    &.active {
      .stepper {
        &-title {
          color: $green-100;
        }
        &-icon {
          color: $green-100;
          background: $white;
          border-color: $green-100;
        }
      }
    }
    &:first-child .stepper__item-progress {
      &::before {
        display: none;
      }
    }
    &:last-child .stepper__item-progress {
      &::after {
        display: none;
      }
    }
  }
  &-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: $white;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 4px $white;
    @include transition;

    // color
    color: $green-100;
    font-size: 0.9em;
    color: $brown-150;
    font-weight: 400;
  }
  &-title {
    color: rgba($green-100, 0.75);
    font-size: inherit;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    @include transition;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 1em;
  height: 1em;
  @include transition;

  svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &--stroke {
    svg {
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__outer {
    font-size: 24px;
    width: 2.3em;
    height: 2.3em;
    min-width: 2.3em;
    min-height: 2.3em;
    border-radius: 50%;
    background-color: rgba($white, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: $white;
      font-size: inherit;
    }
  }
}

.toggle {
  position: relative;
  z-index: 0;
  &__switch {
    position: relative;
    display: inline-block;
    width: 4.16em;
    height: 2.22em;
    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 2em;
      // background: $blue-3;
      &::after {
        content: '';
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid $brown-150;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: inherit;
        z-index: 1;
        opacity: 0.04;
      }
      &::before {
        position: absolute;
        content: '';
        height: 1.55em;
        width: 1.55em;
        left: 0.333em;
        bottom: 0.333em;
        background-color: $green-100;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  }
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    &:checked {
      & + .toggle__switch {
        .toggle__switch-slider {
          &::after {
            border: 2px solid $green-100;
          }
        }
        .toggle__switch-slider:before {
          transform: translateX(1.944em);
        }
      }
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--sm {
    gap: 8px;
  }

  &--bg {
    background: $green-10;
    padding: 16px;
    gap: 4px;
    border-radius: 6px;

    strong {
      color: $green-100;
    }
  }

  &--lg {
    font-size: 18px;
  }

  &--textLeft {
    text-align: left;
  }

  p {
    font-size: inherit;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;

  &__item {
    font-size: inherit;
    color: $brown-100;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    line-height: 1.2;

    .icon {
      color: $green-100;
      font-size: inherit;
      width: 1.3em;
      height: 1.3em;
    }

    &-text {
      margin-top: 2px;
      line-height: 1.2;
      flex: 1;
    }
  }

  &--circle {
    gap: 10px;

    .list {
      &__item {
        position: relative;
        color: $brown-150;
        padding-left: 12px;
        font-size: 18px;
        line-height: 1.2;

        &::before {
          content: '';
          width: 4px;
          height: 4px;
          background: $brown-150;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__info {
    display: flex;
    flex-direction: column;

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &-price {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      font-size: 14px;
      line-height: 1;
      color: $brown-100;
      margin-bottom: 16px;

      del {
        margin-left: 8px;
      }

      strong {
        margin-left: auto;
        font-size: 20px;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
    }

    &-stars {
      align-items: center;
      display: flex;
      margin-bottom: 8px;

      .icon {
        font-size: 24px;
        color: $brown-25;
        @include transition;

        &.active {
          color: $green-100;
        }
      }
    }

    &-container {
    }

    h6 {
      font-family: $font-secondary;
      font-weight: 700;
      min-height: 2em;
      @include ellipsis(2);
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 8px;
      font-size: 16px;
      min-height: 3.8em;
      @include ellipsis(3);
    }
  }

  &--product {
    .cart {
      &__info {
        &-group {
          .cart {
            &__info {
              &-stars {
                display: none;
              }
            }
          }
        }

        &-container {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

  &--list {
    width: 100% !important;
    flex-direction: row;
    align-items: center;

    .cart {
      &__image {
        width: 200px;
      }

      &__info {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        &-group {
          max-width: 350px;
          flex: 1;
          .cart__info-stars {
            display: flex;
          }
        }

        &-container {
          max-width: 320px;
          flex: 1;
          .cart__info-stars {
            display: none;
          }
        }
      }
    }
  }

  .badge {
    &--lg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.more {
  position: relative;

  &__button {
    position: absolute;
    top: 10px;
    right: 0;
  }

  h3 {
    margin-bottom: 40px;
  }
}

.row {
  display: flex;
  gap: 32px;

  &--wrap {
    flex-wrap: wrap;
  }

  &--slider {
    position: relative;

    &._hideArrow {
      .button {
        &--arrow {
          &-left {
            display: none;
          }
        }
      }
    }
  }
}

.group {
  margin-bottom: 40px;

  &__desktop {
    display: flex;
    align-items: center;
    gap: 4px;

    &-button {
      display: flex;
      align-items: center;
      grid-area: 4px;
      font-size: 14px;
      color: $green-100;

      .icon {
        color: $brown-150;
        font-size: 16px;
      }

      &.active {
        color: $brown-50;
      }
    }
  }

  &__mobile {
    display: none;

    &-button {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: $green-100;
      @include transition;

      .icon {
        width: 1em;
        height: 1em;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;

  &__button {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $green-100;
    border: 1px solid transparent;
    cursor: pointer;
    @include transition;

    &.active {
      background-color: $green-10;
    }

    &:hover {
      border-color: $green-100;
    }
  }

  &__outer {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.text {
  &--primary {
    color: $green-100;
  }
}

@mixin components-1360 {
  .row {
    gap: 20px;
  }
}

@mixin components-1160 {
  .more {
    h3 {
      margin-bottom: 35px;
    }
  }
}

@mixin components-1025 {
  .more {
    h3 {
      margin-bottom: 30px;
    }
  }

  .button {
    &--arrow {
      font-size: 22px;

      &-right {
        right: 10px;

        &._unset {
          right: -5px;
        }
      }

      &-left {
        left: 10px;

        &._unset {
          left: -5px;
        }
      }
    }
  }

  .group {
    margin-bottom: 16px;

    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;
    }
  }

  .cart {
    &--product {
      .cart {
        &__info {
          &-group {
            .cart {
              &__info {
                &-stars {
                  display: flex;
                }
              }
            }
          }

          &-container {
            .cart {
              &__info {
                &-stars {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin components-940 {
  .more {
    h3 {
      margin-bottom: 25px;
    }
  }

  .cart {
    gap: 25px;
  }
}

@mixin components-768 {
  .button {
    &--arrow {
      font-size: 20px;

      &-right {
        right: 16px;

        &._unset {
          right: 0;
        }
      }

      &-left {
        left: 16px;

        &._unset {
          left: 0;
        }
      }
    }
  }

  .cart {
    gap: 20px;
  }
}

@mixin components-580 {
  .cart {
    gap: 10px;

    &__info {
      flex-direction: row;
      flex-wrap: wrap;

      &-group {
        width: 100%;
      }

      &-stars {
        display: flex;
        margin-bottom: 16px;
      }

      &-box {
        width: 100%;
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 8px;
      }

      &-price {
        width: 104px;
        flex-wrap: wrap;
        font-size: 12px;
        margin: unset;

        strong {
          width: 100%;
          font-size: 18px;
          margin: 8px 0 0;
        }

        del {
          margin-left: 4px;
        }
      }
    }

    h6 {
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .button {
      &--primary {
        padding: unset;
        font-size: 20px;
        width: 2em;
        height: 2em;
        margin-left: auto;

        span {
          display: none;
        }

        .icon {
          display: flex;
        }
      }
    }

    .badge {
      &--lg {
        font-size: 14px;
      }
    }

    &--product {
      .cart {
        &__info {
          &-container {
            flex-wrap: wrap;
            flex-direction: row;
          }
        }
      }
    }
  }

  .button {
    &--arrow {
      font-size: 18px;
      top: 55%;
    }
  }

  .more {
    &__button {
      position: relative;
      margin-right: auto;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
    }
  }
}

@mixin components-460 {
  .button {
    &--primary {
      &._lg {
        font-size: 16px;
        padding: 0.9em 1em;
      }
    }

    &--arrow {
      font-size: 16px;
    }
  }
}
