.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10;
  transition: $t-ease-out;
  transition-property: top;
  @include fast-transition;

  &-placeholder {
    width: 100%;
    height: 228px;
    transition: 0.1s ease-out 0.02s;

    &._sm {
      height: 130px;
    }
  }
  &QL {
    padding: 10px 0;
    background: $green-100;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      gap: 0.75em;
      transition: 0.25s ease-out 0.1s;

      // font
      color: $white;
      font-size: 14px;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;

      svg {
        width: 1.4em;
        height: 1.4em;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
  &Main {
    position: relative;
    background: $white;

    &-logo {
      font-size: 20px;
      transition: $t-ease-out;
      transition-property: font-size;
      @include fast-transition;
      min-width: 110px;

      img,
      svg {
        width: 5.5em;
        height: 5.5em;
        object-fit: contain;
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5em;
      padding: 8px 0;

      &-burger {
        display: none;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 0.5em;
      .icoBtn {
        span {
          display: none;
        }
      }
    }

    .input {
      flex-grow: 1;
      max-width: 700px;
    }
    .burger {
      display: none;
    }
  }
  &Menu {
    background: $blue-100;

    &__inner {
      display: flex;
      &-mobactions {
        display: none;
      }
    }
  }

  &.sticky {
    top: -40px;

    .header {
      &Main {
        &-logo {
          font-size: 14px;
        }
      }
      &Menu {
        .nav-link {
          padding: 0.8em 1.335em;
          @include fast-transition;
        }
      }
    }
    & + .header-placeholder {
      height: 140px;
      transition-duration: 0.2s;
      transition-delay: 0s;

      &._sm {
        height: 98px;
      }
    }
  }

  &--sm {
    .header {
      &Main {
        border-bottom: 1px solid $brown-25;
      }
      &QL {
        display: none;
      }
    }

    &.sticky {
      top: 0;
    }
  }
}
.nav {
  display: flex;
  flex-grow: 1;

  &-group {
    display: flex;
    align-items: center;
  }
  &-link {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.335em;
    z-index: 0;
    white-space: nowrap;
    flex-shrink: 0;

    //font
    color: $brown-150;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 22px;
  width: 1em;
  height: 0.8em;
  color: $brown-150;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: '';
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $green-100;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}
@mixin min-header-940 {
  .header {
    &Tabs {
      position: relative;
      background: $white;
      z-index: 0;
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
      transition: all 0s linear 0.3s, 0.3s ease-out max-height;

      h6 {
        font-weight: 700;
        font-family: $font-secondary;
        pointer-events: none;
      }
      &-fog {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        background: rgba($black, 0.35);
        z-index: 1;
        transition: all 0s linear 0.5s, 0.3s ease-out opacity 0.2s;
      }
      &.active {
        visibility: visible;
        transform: translateY(0%);
        transition-delay: 0s;
        max-height: 60vh;
        z-index: 2;
        transition: 0.3s ease-out max-height 0.1s;

        & ~ .headerTabs-fog {
          width: 100%;
          height: 100%;
          opacity: 1;
          visibility: visible;
          transition: 0.3s ease-out opacity;
        }
      }

      &__tab {
        display: none;
        transition: all 0s linear 0.2s;

        &-body {
          display: flex;
          gap: 2em;

          &-list {
            padding: 1.335em 0 2em;
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            font-size: 18px;
          }
          &-grid {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.9em;
            flex-shrink: 0;
            font-size: 18px;
            width: 32%;
            z-index: 0;
            padding: 1.335em 1.335em 2em 1em;

            &:after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 50vw;
              height: 100%;
              background: $blue-30;
              z-index: -1;
            }
            h6 {
              width: 100%;
            }
            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;

              li {
                width: calc(50% - 0.5em);
                height: fit-content;
                background: $white;
                border: 1px solid $grey-100;
                border-radius: 6px;
                transition: $t-ease-out;

                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-height: 6em;
                  width: 100%;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    max-height: 3.4em;
                    max-width: 8em;
                  }
                }

                &:hover {
                  filter: contrast(1.2);
                  border-color: $green-75;
                }
                &:active {
                  scale: 0.98;
                  border-color: $green-100;
                }
              }
            }
          }
        }

        &.active {
          display: block;
          transition-delay: 0s;
        }
      }
      &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &-link {
        position: relative;
        padding: 1em 0;
        width: calc(50% - 0.8em);

        //font
        color: $green-100;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: inherit;
        line-height: 100%;

        &:before,
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $grey-100;
        }

        &::after {
          background: $green-75;
          width: 0;
          opacity: 0;
          height: 2px;
          transition: $t-ease-out;
        }
        &:hover {
          color: $brown-150;
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }

      .button {
        &--link {
          margin: auto auto 0 0;
        }
      }
    }
  }
  .nav {
    &-link {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0;
        scale: 0.96;
        transition: $t-ease-out;
        z-index: -1;
      }
      &:hover {
        &:after {
          scale: 1;
          opacity: 0.1;
        }
      }
      &:active {
        &:after {
          scale: 1;
          opacity: 0.14;
          transition-duration: 0.1s;
        }
      }
      &.active {
        z-index: 2;
        background-color: $blue-100;
      }
    }
  }
}
@mixin header-1560 {
  .nav {
    &-link {
      font-size: 16px;
      padding: 1.335em 1em;
    }
  }
}
@mixin header-1280 {
  .header {
    &QL {
      padding: 8px 0;
      &-item {
        font-size: 13px;
        svg {
          width: 1.2em;
          height: 1.2em;
        }
      }
    }
    &Main {
      .input {
        max-width: 550px;
      }
    }
    &-placeholder {
      height: 200px;
    }
    &.sticky {
      top: -32px;

      .header {
        &Menu {
          .nav-link {
            padding: 1em 0.6em;
          }
        }
      }
    }

    &--sm {
      &.sticky {
        top: 0;
      }
    }
  }
  .nav {
    justify-content: space-between;
    &-link {
      font-size: 14px;
      padding: 1em 0.6em;
    }
  }
}
@mixin header-1025 {
  .header {
    &QL {
      justify-content: space-between;
      &-item {
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}
@mixin header-940 {
  .header {
    &Main {
      border-bottom: 1px solid $brown-25;
      &__inner {
        flex-wrap: wrap;
        gap: 8px 1em;
        padding: 8px 0 16px;

        &-burger {
          display: block;
          min-width: 100px;
        }

        .input {
          order: 1;
          width: 100%;
          max-width: unset;
        }
      }
      &__actions {
        min-width: 100px;
        justify-content: flex-end;
        .icoBtn {
          animation: fadeInUp 0.3s ease-out;
          span {
            display: unset;
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: $brown-150;
          }

          &.mobMenu {
            display: none;
            width: unset;
            gap: 0.6em;
            padding: 0.4em 0.6em;
            border-radius: 2em;
          }
        }
        &.active {
          .icoBtn {
            display: none;
            &.mobMenu {
              display: flex;
            }
          }
        }
      }
      &-logo {
        min-width: unset;
        font-size: 18px;
      }
    }
    .burger {
      display: block;
    }
    &Menu {
      display: flex;
      position: fixed;
      top: var(--header-height);
      left: 0;
      width: 100%;
      height: calc(100% - var(--header-height));
      z-index: 0;
      transform: translate(100%);
      opacity: 0;
      pointer-events: none;
      transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
      padding: 3em 0;

      &.active {
        pointer-events: all;
        transform: translate(0);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      .autoContainer {
        display: flex;
        width: 100%;
      }
      &__inner {
        width: 100%;
        flex-direction: column;

        &-mobactions {
          display: flex;
          margin-top: auto;

          .button--text {
            color: $brown-150;
            padding: 0.45em 0;
            &:after {
              display: none;
            }
          }
        }
      }
    }
    &Tabs {
      position: fixed;
      top: var(--header-height);
      left: 100%;
      width: 100%;
      height: calc(100% - var(--header-height));
      background: $blue-100;
      z-index: 1;
      overflow: hidden;
      visibility: hidden;
      max-width: 0;
      max-height: 0;
      transition: all 0s linear 0.3s, 0.3s ease-out left;

      h6 {
        position: relative;
        display: flex;
        gap: 0.45em;
        font-weight: 700;
        font-family: $font-secondary;
        font-style: normal;
        font-size: 18px;
        line-height: 100%;
        color: $green-100;
        padding-left: 1.2em;
        transition: 0.15s ease-out;

        &:before,
        &:after {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
        }
        &:before {
          width: 0.45em;
          height: 0.45em;
          border-top: 2px solid currentColor;
          border-left: 2px solid currentColor;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:after {
          width: 0.6em;
          height: 2.3px;
          border-radius: 2px;
          background: currentColor;
          transform: translateY(-50%);
        }

        &:active {
          opacity: 0.8;
        }
      }
      &-fog {
        display: none;
      }
      &.active {
        visibility: visible;
        max-width: 100vw;
        max-height: 100vh;
        left: 0;
        transition-delay: 0s;
        z-index: 2;
        transition: 0.23s ease-out left 0.1s;
      }

      &__tab {
        display: none;
        transition: all 0s linear 0.2s;

        &-body {
          display: flex;
          gap: 2em;

          &-list {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            font-size: 18px;
            padding: 1.335em 0 2em;
            width: 100%;
          }
          &-grid {
            display: none;
          }
        }

        &.active {
          display: block;
          transition-delay: 0s;
        }
      }
      &__links {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &-link {
        position: relative;
        padding: 0.75em 0;
        width: 100%;

        //font
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $brown-150;

        &:before,
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $grey-100;
        }

        &::after {
          background: $green-75;
          width: 0;
          opacity: 0;
          height: 2px;
          transition: $t-ease-out;
        }
        &:active {
          color: $brown-150;
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
      &-brand {
      }
    }
    &-placeholder {
      height: 211px;

      &._sm {
        height: 159px;
      }
    }

    &--sm {
      .header {
        &QL {
          display: block;
        }
      }
      .burger {
        opacity: 0;
      }

      &.sticky {
        top: -31px;

        .headerMain {
          &__inner {
            padding: 8px 0;
          }
        }
      }
    }

    &.sticky {
      .headerMain {
        &__inner {
          padding: 8px 0;
        }
      }
    }
  }

  .nav {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;

    &-link {
      color: $brown-150;
      font-weight: 700;
      font-size: inherit;
      line-height: 100%;
      padding: 0.8em 0 !important;
      width: 100%;
      border-bottom: 1px solid $grey-100;

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0.4em;
        width: 0.4em;
        height: 0.4em;
        border-top: 2px solid $brown-150;
        border-right: 2px solid $brown-150;

        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  .navs {
    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      min-width: 280px;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: border-box;
      background: $white;
      box-shadow: 0px 4px 24px -1px rgba($brown-150, 0.2);
      padding: 50px 25px;
      transform: translate(-100%);
      opacity: 0;
      transition: 0.15s ease-in-out 0s;

      &-group {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
        gap: 8px;
        color: $brown-150;
        border-top: 1px solid $white;
        width: 100%;

        &:first-child {
          border: 0;
        }
      }
      &-link {
        color: $brown-150;

        &:after {
          left: 0;
          top: 50%;
          width: 2px;
          height: 80%;
          transform: translateY(-50%);
        }

        &:hover {
          &:after {
            width: 2px;
            height: 100%;
          }
        }
      }
    }
  }
}
@mixin header-580 {
  .header {
    &Main {
      &-logo {
        font-size: 16px;
      }
    }
    &QL {
      &-item {
        justify-content: center;
      }
    }
    &-placeholder {
      height: 200px;

      &._sm {
        height: 149px;
      }
    }
  }
}
@mixin header-460 {
  .header {
    &Main {
      &-logo {
        font-size: 12px;
      }
    }
    &-placeholder {
      height: 180px;

      &._sm {
        height: 129px;
      }
    }

    &.sticky {
      .headerMain {
        &-logo {
          font-size: 12px;
        }
      }
    }
  }
}
