@media (max-width: 1560px) {
  @include header-1560;
}
@media (max-width: 1440px) {
  @include typography-1440;
  @include index-1440;
  @include products-1440;
}

@media (max-width: 1360px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include typography-1360;
  @include containers-1360;
  @include index-1360;
  @include products-1360;
  @include checkout-1360;
}

@media (max-width: 1280px) {
  @include typography-1280;
  @include header-1280;
  @include index-1280;
  @include products-1280;
  @include basket-1280;
  @include checkout-1280;
}

@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 24px;
  }
  @include components-1160;
  @include index-1160;
  @include footer-1160;
  @include products-1160;
  @include detail-1160;
  @include basket-1160;
  @include checkout-1160;
}

@media (max-width: 1025px) {
  @include components-1025;
  @include containers-1025;
  @include typography-1025;
  @include header-1025;
  @include footer-1025;
  @include index-1025;
  @include products-1025;
  @include detail-1025;
  @include basket-1025;
  @include checkout-1025;
  @include account-1025;
  @include contact-1025;
}
@media (min-width: 941px) {
  @include min-header-940;
}
@media (max-width: 940px) {
  :root {
    --header-height: 150px;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  @include components-940;
  @include containers-940;
  @include header-940;
  @include index-940;
  @include footer-940;
  @include detail-940;
  @include products-940;
  @include basket-940;
  @include account-940;
}

@media (max-width: 768px) {
  @include components-768;
  @include containers-768;
  @include index-768;
  @include footer-768;
  @include products-768;
  @include detail-768;
  @include basket-768;
  @include checkout-768;
  @include account-768;
  @include contact-768;
}

@media (max-width: 580px) {
  @include components-580;
  @include containers-580;
  @include typography-580;
  @include index-580;
  @include footer-580;
  @include products-580;
  @include popup-580;
  @include detail-580;
  @include basket-580;
  @include checkout-580;
  @include account-580;
  @include contact-580;
  @include header-580;
}

@media (max-width: 460px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  @include typography-460;
  @include components-460;
  @include index-460;
  @include products-460;
  @include header-460;
  @include basket-460;
}

@media (max-width: 380px) {
  @include index-380;
  @include products-380;
}
